.pai{
    background-color: aquamarine;
    text-align: center;
    Font-family: Helvetica
  }
.topo{
    background-color: blue    ;
    display: flex;
}
.texto{
    margin:100px;
    background-color:#b59abd    ;
   padding: 40px;
   width: 700px;
}
button{
    background-color: #824394;
    color: aliceblue;
    width: 120px;
    padding: 5px;
    border: none;
}
.junta{
    margin-bottom: 5px;
   font-size: small;
    margin: 0px;
    
}


